*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Raleway", sans-serif;
    background-color: #f5f8ff;
}
main{
    background-color: #f5f8ff;
}

header{
    background-image: url(./Assets/Hero-bg.png);
}

main {
    max-width: 1140px;
    margin: 0 auto;
    
}
.btn {
    padding: 12px 36px;
    color: white;
    background-color: #006a50;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #006a50;
    transition-duration: 0.4s;
}
.btn:hover{
    background-color: #c6e4d6;
    color: black;
    transform: scale(1.03);

}

/* nav section  */

nav {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}
nav h1 {
    color: #006a50;
    font-size: 34px;
    font-weight: bolder;
}


/* hero section  */
.hero-section{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding: 150px 0 150px 0;
    
}
.hero-section h2{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 37px;
}


/* action section  */

.action-section {
    margin-top: 116px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.action-info h3{
    font-size: 42px;
    font-weight: bold;
    
}
.action-info p{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    margin: 23px 0;

}
.action-section img {
    border-radius: 48px;
}